<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bt_121shoppe.motorbike"
    android:versionName="1.0.16">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /> <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.any" -->
    <!-- android:required="true" /> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".post.PostDetailMapActivity"></activity>
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.AccountSettingActivity" />
        <activity android:name=".stores.StoreDetailActivity" />
        <activity android:name=".stores.StoreListActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <service -->
        <!-- android:name=".notifications.MyService" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity android:name=".nointernet.NoInternetActivity" /> <!-- <activity -->
        <!-- android:name=".newversion.MainActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".loan.LoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loan.Create_Load"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".loan.Draft_loan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.SelectUserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebases.activities.PostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searches.SearchTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".post.PostGallaryActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4GHayq3AVbLLaSeipU3lC63tzDF8DWY4" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".Activity.HomeOldActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Login_Register.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.SearchAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.ConfirmMobileNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.Filter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stores.Filter_shopdetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chats.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DealerStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.FacebookLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpinnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chats.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chats.ChatMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.VerifyMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.RegisterPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.TermPrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.Search1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useraccount.EditAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fragments.FragmentMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stores.CreateShop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".dealerstores.DealerStoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.UserAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Register.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login_Register.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.Your_Post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".post.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Camera"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyA4GHayq3AVbLLaSeipU3lC63tzDF8DWY4" /> -->
        <activity
            android:name=".Activity.Camera_new"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notifications.NotificationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="7f07b09034fb44879e413e1314e73b0b" /> <!-- <activity -->
        <!-- android:name=".Activity.Message" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Product_New_Post.Detail_New_Post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Detail_new_post_java"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Postbyuser_Class"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Buy_Sell_Rent.Sell.Sell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.New_Main1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.New_Main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.Sell_Main1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.Sell_Main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.Rent.Rent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.Rent_Main1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Sell_Rent.Rent_Main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.New_Main"
            android:label="@string/title_activity_new__main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Buy_Sell_Rent.Buy.Buy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useraccount.User_post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Product_dicount.Detail_Discount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.StartUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Startup.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loan.LoanCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountTab.MainAccountTabs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notifications.DetailNotification"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4GHayq3AVbLLaSeipU3lC63tzDF8DWY4" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="7f07b09034fb44879e413e1314e73b0b" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name=".firebases.classes.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>